body {
    background-image: url('stars.jpg');
    background-size: cover; /* Obraz tla rozciąga się na cała powierzchnię strony */
    background-position: center; 
    margin:0;
    padding:0;
}

.header {
    min-height: 100vh; 
    width: 100%;
    flex-direction: column; /* Elementy wewnątrz kontenera będą układane w kolumnie */
    align-items: center; /* Wyrównanie elementów wewnątrz kontenera do środka */
}

.title {
    text-align: center;
    margin-top: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px 30px;
    border-radius: 10px;
    display: none;
}

.title h2 {
    color: #707187;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left, .right {
    margin: 20px;
}

.kula {
    width: 250px;
    height: 250px;
    background: radial-gradient(circle at 30% 30%, rgba(106, 56, 106, 0.8), rgba(50, 0, 50, 0.9));/*Gradient promieniowy na tle*/
    border-radius: 50%; /* Koło */
    left: 20%;
    top: 23%;
    position: absolute;/* Ustawienie pozycji absolutnej względem nadrzędnego elementu */
    box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3);/* Dodanie efekt cienia zewnętrznego i wewnętrznego */
    animation: AnimacjaKula 3s ease-in-out infinite;/* Dodaje animację, która powtarza się w nieskończoność */
    display: none;
}

.tekst_przy_najechaniu {
    display: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: rgba(112, 15, 104, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

@keyframes AnimacjaKula {
    0% {
        box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3); /* Początkowy cień */
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(178, 156, 178, 0.7), inset 0 0 15px 7px rgba(255, 255, 255, 0.5); /* Zmiana cienia w połowie animacji */
    }
    100% {
        box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3); /* Powrót do początkowego cienia */
    }
}

@keyframes AnimacjaKulaHover {
    0%, 100% {
        box-shadow: 0 0 30px 15px rgba(255, 165, 0, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 50px 25px rgba(255, 140, 0, 0.8), inset 0 0 15px 7px rgba(255, 255, 255, 0.5);
    }
}

/* Efekt hover */
.kula:hover {
    background: radial-gradient(circle at 30% 30%, rgba(255, 165, 0, 0.8), rgba(255, 140, 0, 0.9)); /* Pomarańczowy gradient */
    animation: AnimacjaKulaHover 3s ease-in-out infinite; /* Animacja cienia przy najechaniu */
}


#form_1 {
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 30px;
    position: absolute;
    left: 19%; 
    top: 58%;
    display: none; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 120px;
    color:#405379;
    font-size: 16px;
    box-shadow:10px 7px 5px #8d2d94; /* Dodanie cienia */
}   

.przycisk_form_1 {
    background-color: #8d2d94;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    border: none; 
    border-radius: 1000px;
    padding: 5px 10px; 
}

.podswietlenie_form {
    box-shadow: 0 0 30px 10px rgba(123, 39, 114, 0.8);
    transition: box-shadow 0.5s ease-in-out;/* Płynne przejście przy zmianie cienia, trwające 0,5 sekundy */
}

.right {  
    margin-left: 70%;
    position: absolute;
    top: 20%;
}

#form_2 {
    display: none;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 30px;
    left: 16%; 
    top: 18%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color:#405379;
    font-size: 16px;
}

.tekst_2 {
    font-size: 18px;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 7px 5px purple;
}

.podswietlenie_form_2 {
    box-shadow: 0 0 30px 10px rgba(123, 39, 114, 0.8);
    transition: box-shadow 0.5s ease-in-out; /* Płynne przejście przy zmianie cienia, trwające 0,5 sekundy */
}

.przycisk_form_2 {
    background-color: #8d2d94;
    width: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 1000px;
    padding: 5px 10px;
    box-shadow: 0 0 15px rgba(141, 45, 148, 0.5);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px 5px rgba(141, 45, 148, 0.5);
    }
    100% {
        box-shadow: 0 0 25px 15px rgba(141, 45, 148, 0.8);
    }
}

.przycisk_form_3 {
    background-color: #8d2d94;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    border-radius: 1000px;
    padding: 5px 10px; 
    margin: 2px;
}

#wynikZodiaku {
    position: absolute;
    top: 61%;
    right: 170px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 250px;
    text-align: center;
    color: #405379;
    font-size: 16px;
    display: flex;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    align-items: center;  
    box-shadow: 0 0 30px 10px rgba(123, 39, 114, 0.8);
    transition: box-shadow 0.5s ease-in-out;/* Płynne przejście przy zmianie cienia, trwające 0,5 sekundy */
}

#obraz_zodiaku {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#opis_zodiaku {
    font-size: 18px;
    color: #405379;
    line-height: 1.5;
    margin-top: 10px;
}

.komunikatError {
    color: rgb(103, 71, 127);
    background-color: #6e0b0b;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px purple;
    font-weight: bold;
    width: 560px;
    top: 10%;
}

.przyciskError {
    background-color: #977396;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    float: right;
    margin: 5px;
}

.przyciskError:hover {
    background-color: #6e0b0b;
}

#marquee { /*Marquee – niestandardowy znacznik blokowy w HTML pozwalający na animację tekstu*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Ustawienie przezroczystego, czarnego tła */
    padding: 15px 0; 
    display: none;
}

#marquee-text {
    color: #707187;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Pozycja początkowa tekstu poza ekranem z prawej strony */
    }

    100% {
        transform: translateX(-100%); /* Pozycja końcowa tekstu poza ekranem z lewej strony */
    }
}

.login-container {
    width: 280px;
    background: transparent;/* Przezroczyste tło */
    border: 2px solid rgba(255, 255, 255, .2); /* Delikatna obramowanie */
    backdrop-filter: blur(10px);/* Efekt rozmycia tła */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);/* Cień wokół kontenera */
    color: #fff;
    margin: 100px auto; /* Wyśrodkowanie na stronie */
    animation: AnimacjaFormularz 2s infinite alternate;/* Animacja formularza */
    display: none;
    border-radius: 10px;
    padding: 30px 40px;
}
/* Nagłówek w kontenerze logowania */
.login-container h1 {
    font-size: 36px;
    text-align: center;
}
/* Pole wejściowe input w kontenerze logowania */
.login-container .input-box {
    position: relative;/* Pozycja względna, ułatwia pozycjonowanie */
    width: 100%;
    height: 100%;
    margin: 30px 0;
}

.input-box input {
    width: 220px;
    height: 10px; 
    background: transparent;/* Przezroczyste tło */
    border: 2px solid rgba(255, 255, 255, .2);/* Delikatne obramowanie */
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;/* Odstępy wewnętrzne */
}

.input-box input::placeholder {
    color: #fff;/* Kolor tekstu placeholdera */
}

.login-container .przycisk_logowanie {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login-container .przycisk_logowanie:hover{
    width: 100%;
    height: 45px;
    background: #dadada;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.error-komunikat-form {
    display: none;
    color: red;
    font-size: 16px;
    margin: 10px;
}

@keyframes AnimacjaFormularz {
    0% {
        box-shadow: 0 0 15px 5px rgba(141, 45, 148, 0.5);
    }
    100% {
        box-shadow: 0 0 25px 15px rgba(141, 45, 148, 0.8);
    }
}

/*Styl wybierz_swoj_los.html*/

/* Nagłówek */
.tytul_los {
    color: #800080;
    font-style: italic;
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.7);
    animation: przesuwanieTekstu 15s linear infinite;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}

/* Sekcja obrazów */
.obrazy_los {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 600px;
}

/* Styl kontenerów obrazów */
.container_obrazka_los img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
}

/* Styl opisu wybranego losu */
.opis_los {
    color: #ff69b4;
    text-shadow: 0 0 10px rgba(255, 105, 180, 1);
    font-size: 20px;
    margin-top: 20px;
}

/* Styl powiadomienia */
.powiadomienie_los {
    display: none;
    border: 2px dashed #800080;
    padding: 15px;
    margin-top: 20px;
    background-color: rgba(128, 0, 128, 0.1);
    width: 300px;
    margin: 20px auto;
}

/* Styl przycisku */
.przycisk_wylogowanie {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Styl przycisk_wylogowanieu po najechaniu */
.przycisk_wylogowanie:hover {
    background-color: #5c005c;
}

/* Animacja przesuwania tekstu */
@keyframes przesuwanieTekstu {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}